footer {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
    padding: 6rem;
    background-color: grey;
  }
  
  .f {
    background-color: rgb(192, 221, 30);
    padding: 2rem;
    color: black;
    text-align: center; 
  }